@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
body {
  line-height: 1.5;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  outline: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

a {
  text-decoration: none;
}
ul,
li {
  list-style: none;
}
body {
  font-family: "Inter", sans-serif;
}

h3.heading {
  color: #1c1c1c;
  font-size: 30px;
  font-weight: bolder;
  margin-bottom: 20px;
}

.quill {
  .ql-toolbar.ql-snow {
    text-align: center;
    background-color: #eee;
  }
}

::-webkit-scrollbar-track {
  outline: none;
}

::-webkit-scrollbar {
  width: 6px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: #8a2387; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #f27121,
    #e94057,
    #8a2387
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f27121,
    #e94057,
    #8a2387
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root {
  height: 46px;
  cursor: pointer;
}
