@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
body {
  line-height: 1.5;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  outline: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

a {
  text-decoration: none;
}
ul,
li {
  list-style: none;
}
body {
  font-family: "Inter", sans-serif;
}

h3.heading {
  color: #1c1c1c;
  font-size: 30px;
  font-weight: bolder;
  margin-bottom: 20px;
}

.quill {
  .ql-toolbar.ql-snow {
    text-align: center;
    background-color: #eee;
  }
}

body {
  /* Foreground, Background */
  scrollbar-color: #999 #333;
}
body::-webkit-scrollbar {
  width: 10px; /* Mostly for vertical scrollbars */
  height: 10px; /* Mostly for horizontal scrollbars */
}
body::-webkit-scrollbar-thumb {
  /* Foreground */
  background: #999;
}
body::-webkit-scrollbar-track {
  /* Background */
  background: #333;
}
