

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
body {
  line-height: 1.5;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  outline: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

a {
  text-decoration: none;
}
ul,
li {
  list-style: none;
}
body {
  font-family: "Inter", sans-serif;
}

h3.heading {
  color: #1c1c1c;
  font-size: 30px;
  font-weight: bolder;
  margin-bottom: 20px;
}

.quill {
  .ql-toolbar.ql-snow {
    text-align: center;
    background-color: #eee;
  }
}

.styled-scrollbars {
  --scrollbar-foreground: #999
  --scrollbar-background: #333
  scrollbar-color: var(--scrollbar-foreground) var(--scrollbar-background);
}
.styled-scrollbars::-webkit-scrollbar {
  width: 10px; 
  height: 10px; 
}
.styled-scrollbars::-webkit-scrollbar-thumb { 
  background: var(--scrollbar-foreground);
}
.styled-scrollbars::-webkit-scrollbar-track {
  background: var(--scrollbar-background);
}

