.comment {
  padding: 10px;
  &-input {
    display: flex;
    align-items: center;
    gap: 0 10px;
    &--update {
      display: flex;
      flex: 1;
      flex-direction: column;
      gap: 10px 0;
      &-btn {
        display: flex;
        gap: 0 10px;
      }
    }
    .postProfileImg {
      flex-shrink: 0;
    }
    .input {
      margin-bottom: 0;
      flex: 1;
      .input-group {
        .comment-desc {
          border-radius: 100rem;
          border: 0;
          background-color: #f0f2f5;
          &:focus {
            outline: none;
          }
        }
      }
    }
  }
  &-content {
    &--item {
      display: flex;
      margin: 20px 0;
      gap: 0 10px;
    }
    &--desc {
      background-color: #f0f2f5;
      display: inline-flex;
      flex-direction: column;
      grid-area: 10px 0;
      padding: 10px;
      border-radius: 18px;
      &-name {
        font-weight: 600;
      }
      &-text {
        font-weight: 400;
      }
    }
    &--time {
      padding-top: 5px;
      display: flex;
      align-items: center;
      gap: 0 15px;
      font-size: 14px;
      cursor: pointer;
    }
  }
  &-more {
    color: #65676b;
    font-weight: 500;
    cursor: pointer;
    &--hidden {
      display: none;
    }
  }
  .comment-content--list {
    position: relative;
    .comment-func {
      background-color: #fff;
      box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
      padding: 10px;
      position: absolute;
      bottom: -50px;
      display: flex;
      flex-direction: column;
      gap: 10px 0;
      width: 230px;
      border-radius: 10px;
      font-weight: 500;
      cursor: pointer;
      z-index: 10;
    }
  }
  .postTopRight-dots {
    cursor: pointer;
  }
}
