.share {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  .shareWrapper {
    padding: 10px;
  }

  .shareTop {
    display: flex;
    flex-direction: column;
    .shareProfile {
      display: flex;
      align-items: center;
      gap: 0 10px;
      border-bottom: 1px solid #eee;
      padding-bottom: 10px;
      margin-bottom: 15px;
      .shareProfileImg {
        width: 40px;
        height: 40px;
        flex-shrink: 0;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 100rem;
        }
      }
    }
    .shareVideo {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 40px;
      padding: 0 15px;
      &-item {
        display: flex;
        align-items: center;
        gap: 0 10px;
        &--text {
          font-weight: 600;
        }
        &--video {
          font-size: 25px;
          svg {
            fill: #c31432;
          }
        }
        &--image {
          font-size: 25px;

          svg {
            fill: #3ca55c;
          }
          span {
            font-weight: 500;
          }
        }
        &--emjoy {
          font-size: 25px;

          svg {
            fill: #f4d03f;
          }
        }
      }
    }
  }

  .shareInput {
    border: none;
    width: 100%;
    padding: 12px 10px;
    background-color: #f0f2f5;
    color: #65676b;
    border-radius: 100rem;
    font-size: 16px;
    font-weight: 400;
  }

  .shareInput:focus {
    outline: none;
  }

  .shareBottom {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 20px 0;
  }

  .shareOptions {
    display: flex;
    flex: 1;
  }

  .shareOption {
    display: flex;
    align-items: center;
    margin-right: 15px;
    cursor: pointer;
  }

  .shareIcon {
    font-size: 18px;
    margin-right: 3px;
  }

  .shareOptionText {
    font-size: 14px;
    font-weight: 500;
  }
}
