.button-btn {
  display: inline-block;
  border-radius: 10px;
  border: none;
  background-color: #00a400;
  color: white;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.25s linear;
}
