.modal-share {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  &--heading {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #eee;
    margin-bottom: 15px;
    padding-bottom: 10px;
  }
  &--content {
    background-color: #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 20px;
    border-radius: 20px;
    max-width: 500px;
    width: 100%;
    position: relative;
    &-user {
      max-width: 800px;
    }
  }
  &--scroll {
    height: 500px;
    overflow-y: scroll;
    padding-right: 10px;
  }
  &--title {
    flex: 1;
    text-align: center;
    font-weight: bold;
    font-size: 23px;
    color: #1c1c1c;
  }
  &--close {
    margin-left: auto;
    background: #ccc;
    width: 35px;
    height: 35px;
    border-radius: 100rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    cursor: pointer;
  }
  &--user {
    margin-top: 35px;
    height: 500px;
    overflow-y: scroll;
    padding: 0 10px;
    .modal-user--image {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 20px 0;
      margin-bottom: 20px;
      cursor: pointer;
      .image-coverpicture {
        border: 1px dashed #ccc;
        width: 100%;
        height: 250px;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        position: relative;
        &:hover .image-file--pos {
          opacity: 1;
          visibility: visible;
        }
        &:hover .modal-share--upload-remove {
          opacity: 1;
          visibility: visible;
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .image-file {
        font-size: 80px;
        color: #1d976c;
        cursor: pointer;
      }
      .image-file--pos {
        position: absolute;
        background: #fff;
        width: 100px;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100rem;
        opacity: 0;
        visibility: hidden;
        transition: all 0.2s ease;
      }
      .image-profilePicture {
        border: 1px dashed #ccc;
        width: 180px;
        height: 180px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100rem;
        overflow: hidden;
        position: relative;
        &:hover .image-file--pos {
          opacity: 1;
          visibility: visible;
        }
        &:hover .modal-share--upload-remove {
          opacity: 1;
          visibility: visible;
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 100rem;
        }
      }
    }
    .modal-user--form {
      &-group {
        display: flex;
        gap: 0 20px;
        .modal-user--group {
          flex: 1;
        }
      }
      .button-btn {
        padding: 10px 30px;
        font-size: 18px;
        font-weight: 500;
      }
    }
  }

  &--info {
    display: flex;
    align-items: center;
    gap: 0 10px;
    margin-bottom: 15px;
  }
  .input {
    .input-group {
      .modal-share--input {
        border: unset;
        padding: 0;
        &:focus {
          border: unset;
          outline: none;
        }
      }
    }
  }
  &--avatar {
    height: 40px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 100rem;
    }
  }
  &--name {
    font-weight: 600;
  }
  &--input {
    border: 1px solid transparent;
    outline: none;
    width: 100%;
    font-size: 20px;
    font-weight: 400;
  }
  &--upload {
    height: 300px;
    width: 100%;
    margin: 20px 0;
    position: relative;
    &:hover .modal-share--upload-remove {
      opacity: 1;
      visibility: visible;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 10px;
    }
    &-remove {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: #fff;
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 100rem;
      cursor: pointer;
      color: #ff512f;
      font-size: 17px;
      opacity: 0;
      visibility: hidden;
      transition: all 0.2s linear;
    }
  }
  &--add {
    margin: 15px 0 0;
    &-option {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border: 1px solid #eee;
      padding: 15px 5px;
      border-radius: 5px;
      .option-text {
        font-size: 16px;
        color: #1c1c1c;
        font-weight: 600;
      }
      .option-select {
        display: flex;
        align-items: center;
        gap: 0 12px;
        .option-icon {
          font-size: 25px;
          cursor: pointer;
          &:nth-child(1) {
            svg {
              fill: #1d976c;
            }
          }
          &:nth-child(2) {
            svg {
              fill: #26a0da;
            }
          }
          &:nth-child(3) {
            svg {
              fill: #ff512f;
            }
          }
          &:nth-child(4) {
            svg {
              fill: #dd2476;
            }
          }
        }
      }
    }
    .modal-share--button {
      margin-top: 15px;
      width: 100%;
      padding: 10px;
      font-size: 18px;
      &:hover {
        opacity: 0.6;
      }
    }
  }
}
