.input {
  position: relative;
  &-search {
    border: 1px solid #dddfe2;
    background-color: #fff;
    border-radius: 8px;
    padding: 10px 15px;
    width: 100%;
    margin-bottom: 20px;
    transition: all 0.25s linear;
    position: relative;
    &:focus {
      border-color: #2c64ff;
      outline: 3px solid rgba(44, 118, 255, 0.25);
      &::placeholder {
        font-weight: 500;
        color: #1c1c1c;
      }
    }
    &::placeholder {
      color: #999;
    }
  }
  &-icon {
    position: absolute;
    top: 53%;
    transform: translateY(-100%);
    right: 15px;
    cursor: pointer;
    color: #999;
    svg {
      width: 22px;
      height: 22px;
    }
  }
}
